<template>
    <stripe-checkout
        button="Suscribirme"
        buttonClass="btn btn-course"
        :stripe-key="stripe_key"
        :product="product"
        >

    </stripe-checkout>
</template>

<script>
    import { StripeCheckout } from 'vue-stripe'
    export default {
        components: {
            StripeCheckout
        },
        props: {
            stripe_key: '',
            name: '',
            amount: '',
            description: ''
        },
        computed: {
            product(){
                return{
                    name: this.name,
                    amount: parseInt(this.amount),
                    description: this.description
                }
            }
        }
    }
</script>

<style scoped>

</style>
